<li data-tags="<%= post.tags.map(&:name).join(' ') %>">
  <%= render partial: 'monologue/posts/post_header', locals: {post: post, show: false} %>

  <div class="content half-gap-top" data-monologue="content">
    <%= truncate_html(post.content, length: Monologue::Config.preview_size, omission: '...') %>
  </div>

  <div class="tags half-gap-top" data-monologue="tags">
    <%= render post.tags %>
  </div>
  <div class="half-gap-top">
    <%= link_to t(".readmore"), post.full_url, class: "button" %>
  </div>
</li>
