<div class="monologue-social-sharing half-gap-top" data-monologue="monologue-social-sharing">
  <span class="social-tagline"><%= t('.tagline') %></span>
  <ul id="social-share" class="half-gap-top uc-list-space">
    <%= render :partial => 'monologue/posts/social/pinterest' %>
    <%= render :partial => 'monologue/posts/social/twitter' %>
    <%= render :partial => 'monologue/posts/social/gplus' %>
    <%= render :partial => 'monologue/posts/social/facebook' %>
  </ul>
</div>
